@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
   margin: 0;
   padding: 0;
}
.background {
   background: url(/src/assets/backgrounds/bg.png);
   background-position: 0 95%;
   background-size: cover;
   padding-top: 16px;
}

.text-wrap {
   height: 80vh;
   width: 100%;
   display: grid;
   place-items: center;
}

.text {
   display: grid;
   color: #fff;
   place-items: center;
}
.text h1 {
   font-size: 75px;
   letter-spacing: 0px;
   font-weight: 900;
   font-family: "Montserrat";
}
.text h2 {
   font-size: 40px;
   letter-spacing: 10px;
   font-weight: 800;
   font-family: "Montserrat";
}
.text h3 {
   margin: 30px 0;
   text-align: center;
   font-size: 18px;
   letter-spacing: 0px;
   font-weight: 500;
   font-family: "Lato";
   width: 75%;
}
.text button {
   border: none;
   font-size: 15px;
   text-transform: uppercase;
   color: #000000;
   font-weight: 700;
   font-family: "Montserrat";
   text-align: center;
   letter-spacing: 0px;
   padding: 15px 50px;
   border-radius: 6px;
   background-image: linear-gradient(180deg, #f8df3b 0%, #ead137 100%);
}
