.hotelFinder {
   background-color: #f0d839;
   opacity: 1;
   background-size: 7px 7px;
   background-image: repeating-linear-gradient(
      45deg,
      #c9c971 0,
      #c9c971 0.7000000000000001px,
      #f0d839 0,
      #f0d839 50%
   );
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 50px;
}
.hotelFinder h1 {
   font-size: 37px;
   letter-spacing: 0px;
   color: #000000;
   font-weight: 900;
   font-family: "Montserrat";
   padding-bottom: 50px;
}
.form {
   display: flex;
   align-items: flex-end;
   gap: 15px;
}
.form h1 {
   font-size: 18px;
   letter-spacing: 0px;
   color: #000000;
   font-weight: 500;
   font-family: "Montserrat";
   padding-bottom: 10px;
}
.form input {
   border: none;
   border-radius: 5px;
   padding: 7px 15px;
}
.adult input,
.child input {
   width: 75px;
}
.form button {
   font-size: 14px;
   letter-spacing: 0px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 500;
   font-family: "Montserrat";
   text-align: center;
   background-image: linear-gradient(180deg, #4d4d4d 0%, #494949 100%);
   border: none;
   padding: 7px 30px;
   border-radius: 5px;
}
