.review {
   background: url("../assets/backgrounds/colosseum.png");
   background-size: cover;
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 75px 100px;
}
.review > div {
   padding-bottom: 45px;
}
.review h1 {
   font-size: 36px;
   color: #ffffff;
   font-weight: 900;
   font-family: "Montserrat";
   text-align: center;
   padding-bottom: 10px;
}
.review h2 {
   font-size: 37px;
   color: #ffffff;
   font-weight: 400;
   font-family: "Montserrat";
   text-align: center;
   padding-bottom: 30px;
}
.review p {
   font-size: 18px;
   color: #ffffff;
   font-weight: 500;
   font-style: italic;
   font-family: "Lato";
   text-align: center;
   padding: 0 200px;
   padding-bottom: 25px;
}
.reviewText {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.stars {
   display: flex;
   gap: 10px;
}
.stars img {
   width: 15px;
}
.profile {
   display: flex;
   align-items: center;
   gap: 20px;
}
.profile h3 {
   font-size: 25px;
   color: #ffffff;
   font-weight: 900;
   font-family: "Montserrat";
}
.profile h4 {
   font-size: 16px;
   color: #ffffff;
   font-weight: 400;
   font-family: "Montserrat";
   text-align: left;
}
